* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: #999999;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  border-radius: 15px;
  margin-top: 3rem;
  width: 431px;
  height: 500px;
  background: white;
}
.heading {
  font-size: 32px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 311px;
  margin: 0 auto;
}
input {
  border-radius: 5px;
  padding: 21px;
  border: 1px solid #3f3e68;
}
